body {
  padding-top: 5rem;
  background-color: #283618;
}

.navbar {
	background-color: #232b26 !important;
}

.select-operation {
	height: 38px;
	width: 100%;
}

.command-row {
	margin-bottom: 50px !important;
}

.console {
	width: 100%;
	font-size: 8pt;
   	font-family: consolas;
}

textarea {
   	background-color: #28302a;
   	color: #afccb6;
   	border: 0px;
   	padding: 5px;
}


textarea::-webkit-scrollbar {
    width: 1em;
}

textarea::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

textarea::-webkit-scrollbar-thumb {
  background-color: #67776b;
  outline: 1px solid slategrey;
}

.command-table {
	border-radius: 10px;
}

.job-form {
	background-color: gray;
	padding: 20px;
	border-radius: 20px;
}