<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>SmartBackup</title>

<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.2.1/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/css/main.css}" />
<link rel="stylesheet" th:href="@{/font-awesome/css/font-awesome.min.css}" />

</head>

<body>

	<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
		<a class="navbar-brand" href="#">SmartBackup</a>
	</nav>

	<main role="main" class="container">

		<table class="table">
			<thead>
				<tr>
					<th scope="col">Name</th>
					<th scope="col">Operation</th>
					<th scope="col"></th>
					<th scope="col"></th>
					<th scope="col">Status</th>
					<th scope="col">Comment</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="command: ${getAllCommands}">
					<td th:text="${command.operation.name}"></td>
					<td th:text="${command.operation.jobType + ' ' + command.operation.fileType}"></td>
					<td>
						<a th:href="@{'/cmd/edit/' + ${command.id}}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
						<a th:href="@{'/cmd/delete/' + ${command.id}}"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
					</td>
					<td th:switch="${command.status}">
						<a th:case="${T(com.kishore.sb.model.CommandStatus).CREATED}" th:href="@{'/cmd/run/' + ${command.id}}"><i class="fa fa-play" aria-hidden="true"></i></a>
						<a th:case="${T(com.kishore.sb.model.CommandStatus).COMPLETED}" th:href="@{'/cmd/run/' + ${command.id}}"><i class="fa fa-repeat" aria-hidden="true"></i></a>
					</td>
					<td th:text="${command.status}"></td>
					<td th:text="${command.comment}"></td>
				</tr>
			</tbody>
		</table>
		<br>
		<br>
		<a th:href="@{/cmd/new}" type="button" class="btn btn-primary">Create new command</a>
		
	</main>
	<!-- /.container -->

	<script type="text/javascript" th:src="@{webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>
</body>
</html>