<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>SmartBackup</title>

<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.2.1/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/css/main.css}" />
<link rel="stylesheet" th:href="@{/font-awesome/css/font-awesome.min.css}" />

</head>

<body>

	<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
		<a class="navbar-brand" href="#">SmartBackup</a>
	</nav>

	<main role="main" class="container">

		<table class="table table-hover">
			<thead>
				<tr>
					<th scope="col" style="width: 40%">Name</th>
					<th scope="col" style="width: 10%">Operation</th>
					<th scope="col" style="width: 10%"></th>
					<th scope="col" style="width: 10%">Status</th>
					<th scope="col" style="width: 30%">Comment</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="command: ${getAllCommands}" class="cmd-row">
					<td th:text="${command.operation.name}"></td>
					<td th:text="${command.operation.jobType + ' ' + command.operation.fileType}"></td>
					<td>
						<a th:href="@{'/cmd/edit/' + ${command.id}}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
						<a th:href="@{'/cmd/delete/' + ${command.id}}"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
						&nbsp;
						<a th:href="'javascript:run(\'' + ${command.id} + '\');'">
							<i class="fa fa-play runner" aria-hidden="true" style="display:none"></i>
							<i class="fa fa-repeat re-runner" aria-hidden="true" style="display:none"></i>
						</a>
					</td>
					<td><span class="status" th:attr="data-cmd-id=${command.id}"></span></td>
					<td><span class="comment"></span></td>
				</tr>
			</tbody>
		</table>
		<br>
		<br>
		<a th:href="@{/cmd/new}" type="button" class="btn btn-primary">Create new command</a>
		
	</main>
	<!-- /.container -->

	<script type="text/javascript" th:src="@{webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/jquery.js}"></script>
	
</body>


<script type="text/javascript">


	window.setInterval(function() {
		refreshCommandInfo();
	}, 1000);

	
	function run(id) {
		$.ajax({
			url : '/cmd/run/' + id,
			type : "GET",
			contentType : "application/json;charset=utf-8",
			success : function(data) {
				console.log(data);
			}
		});
	}


	function refreshCommandInfo() {
		$(".status").each(
				function() {
					var id = $(this).attr('data-cmd-id');
					var statel = $(this);
					$.ajax({
						url : '/cmd/info/' + id,
						type : "GET",
						contentType : "application/json;charset=utf-8",
						success : function(data) {
							var status = data["status"];
							statel.text(status);
							statel.closest('.cmd-row').find('.comment').first()
									.text(data["comment"]);

							var runner = statel.closest('.cmd-row').find(
									'.runner').first();
							var reRunner = statel.closest('.cmd-row').find(
									'.re-runner').first();

							runner.hide();
							reRunner.hide();

							if (status == 'CREATED') {
								runner.show();
							} else if (status == 'COMPLETED') {
								reRunner.show();
							}
						}
					});
				});
	}
	
	
</script>


</html>