<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>SmartBackup</title>

<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.2.1/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/css/main.css}" />
<link rel="stylesheet" th:href="@{/font-awesome/css/font-awesome.min.css}" />
<link rel="stylesheet" th:href="@{/css/jquery-ui.css}" />
<link rel="stylesheet" th:href="@{/css/jquery-ui.theme.css}" />

</head>

<body>

	<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
		<a class="navbar-brand" href="#">SmartBackup</a>
	</nav>

	<main role="main" class="container">
	
		<div class="row" >
			<div class="col-md-12 text-center" th:object="${command}">
				<select id="job-selector" th:field="*{operation.job}">
				  	<option th:each="job: ${jobs}" th:text="${job}" th:value="${job}">Select</option>
				</select>
			</div>
		</div>
		<br>
		<br>

		<!-- COPY -->
		<form id="copy-form" class="job-form" th:object="${command}" th:action="@{/cmd/save}" method="post" style="display:none">

			<div class="row">
				<div class="form-group col-md-12">
					<input th:field="*{operation.name}" type="text" class="form-control" placeholder="Describe this copy command">
				</div>
			</div>
			<div class="row">
			
				<div class="form-group" hidden="true">
					<input th:field="*{id}" type="text" class="form-control" id="id">
				</div>
				<div class="form-group" hidden="true">
					<input th:field="*{operation.job}" type="text" class="form-control job">
				</div>
								
				<div class="form-group col-md-12">
					<input th:field="*{lhs}" type="text" class="form-control" id="lhs" placeholder="Folder from which files need to be copied">
				</div>

				<div class="col-md-12">
					<div class="form-group form-check">
			            <div class="checkbox-group">
			            	<span th:each="category: ${categories}" class="checkbox-span">
			            		<input type="checkbox" class="form-check-input" 
			                    	th:text="${category}" 
			                    	th:field="*{operation.categories}" 
			                    	th:value="${category}">
			            	</span>
			            </div>
		            </div>
		            <div class="form-group form-check">
		            	<div>
		                   <input type="checkbox" class="form-check-input" 
		                    	th:text="'Avoid duplication'" 
		                    	th:field="*{operation.avoidDuplication}"
		                    	th:value="${command.operation.avoidDuplication}">
		                </div>
		                <div>  	
		                   <input type="checkbox" class="form-check-input" 
		                    	th:text="'Delete from source'" 
		                    	th:field="*{operation.deleteFromSource}"
		                    	th:value="${command.operation.deleteFromSource}">
		                </div>
		            </div>
				</div>
				
				<div class="form-group col-md-12">
					<input th:field="*{rhs}" type="text" class="form-control" id="rhs" placeholder="Folder where copied files need to be pasted">
				</div>
						
			</div>
			<br><br><br><br><br><br>
			<div class="row">
				<div class="col-md-12 text-center">
					<button type="submit" class="btn btn-primary">Save</button>
				</div>
			</div>
			
		</form>
		

		<!-- BACKUP -->
		<form id="backup-form" class="job-form" th:object="${command}" th:action="@{/cmd/save}" method="post" style="display:none">
		
			<div class="row">
				<div class="form-group col-md-12">
					<input th:field="*{operation.name}" type="text" class="form-control" placeholder="Describe this backup-copy command">
				</div>
			</div>
			<div class="row">
			
				<div class="form-group" hidden="true">
					<input th:field="*{id}" type="text" class="form-control" id="id">
				</div>
				<div class="form-group" hidden="true">
					<input th:field="*{operation.job}" type="text" class="form-control job">
				</div>

				<div class="form-group col-md-12">
					<input th:field="*{lhs}" type="text" class="form-control" id="lhs" placeholder="Folder from which files to be taken as backup">
				</div>

				<div class="col-md-12">
					<div class="form-group form-check">
			            <div class="checkbox-group">
			            	<span th:each="category: ${categories}" class="checkbox-span">
			            		<input type="checkbox" class="form-check-input" 
			                    	th:text="${category}" 
			                    	th:field="*{operation.categories}" 
			                    	th:value="${category}">
			            	</span>
			            </div>
		            </div>
		            <div class="form-group form-check">
			            <div>
				           <input type="checkbox" class="form-check-input" 
		                    	th:text="'Avoid duplication'" 
		                    	th:field="*{operation.avoidDuplication}"
		                    	th:value="${command.operation.avoidDuplication}">
		                  	</div>
		                	<div>  
		                   <input type="checkbox" class="form-check-input" 
		                    	th:text="'Delete from source'" 
		                    	th:field="*{operation.deleteFromSource}"
		                    	th:value="${command.operation.deleteFromSource}">
			            </div>
		            </div>
				</div>
				
				<div class="form-group col-md-12">
					<input th:field="*{rhs}" type="text" class="form-control" id="rhs" placeholder="Backup folder">
				</div>
						
			</div>
			<br><br><br><br><br><br>
			<div class="row">
				<div class="col-md-12 text-center">
					<button type="submit" class="btn btn-primary">Save</button>
				</div>
			</div>
			
		</form>
		
		
		<!-- DELETE -->
		<form id="delete-form" class="job-form" th:object="${command}" th:action="@{/cmd/save}" method="post" style="display:none">

			<div class="row">
				<div class="form-group col-md-12">
					<input th:field="*{operation.name}" type="text" class="form-control" placeholder="Describe the delete command">
				</div>
			</div>
			<div class="row">
			
				<div class="form-group" hidden="true">
					<input th:field="*{id}" type="text" class="form-control" id="id">
				</div>
				<div class="form-group" hidden="true">
					<input th:field="*{operation.job}" type="text" class="form-control job">
				</div>				
				
				<div class="form-group col-md-12">
					<input th:field="*{lhs}" type="text" class="form-control" id="lhs" placeholder="Folder where files need to be deleted">
				</div>

				<div class="col-md-12">
					<div class="form-group form-check">
			            <div class="checkbox-group">
			            	<span th:each="category: ${categories}" class="checkbox-span">
			            		<input type="checkbox" class="form-check-input" 
			                    	th:text="${category}" 
			                    	th:field="*{operation.categories}" 
			                    	th:value="${category}">
			            	</span>
			            </div>
		            </div>
				</div>		
			</div>
			<br><br><br><br><br><br>
			<div class="row">
				<div class="col-md-12 text-center">
					<button type="submit" class="btn btn-primary">Save</button>
				</div>
			</div>
		</form>

	</main>
	
	<script type="text/javascript" th:src="@{webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/jquery.js}"></script>
	<script type="text/javascript" th:src="@{/js/jquery-ui.js}"></script>

</body>

<script type="text/javascript">


$(document).ready(function() {
	$('#job-selector').change();
}); 


$('#job-selector').on('change', function (e) {
    var optionSelected = $("option:selected", this);
    var v = this.value;
    $(".job-form").hide();
    
	if(v == 'COPY') {
		$('#copy-form').show();
		$('#copy-form').find('.job').val('COPY');
		
	} else if (v == 'BACKUP') {
		$('#backup-form').show();
		$('#backup-form').find('.job').val('BACKUP');
		
	} else if (v == 'DELETE') {
		$('#delete-form').show();
		$('#delete-form').find('.job').val('DELETE');
		
	}
	
});



</script>


</html>