<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>SmartBackup</title>

<link rel="stylesheet"
	th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/css/main.css}" />

</head>

<body>

	<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
		<a class="navbar-brand" href="#">SmartBackup</a>
	</nav>

	<div class="container-fluid">
	
		<div class="starter-template">
			<h1>Review</h1>
			<h2>
				<span>Please review the files</span>
			</h2>
		</div>

		<form th:object="${folderSelection}" th:action="@{/review}" method="post">
			<div class="form-group">
				<label for="source-folder">Source folder</label> 
				<input th:field="*{sourceFolder}" type="text" class="form-control" id="source-folder" placeholder="provide the source folder location"> 
			</div>
			<div class="form-check">
				<input type="checkbox" class="form-check-input" id="file-type-image">
				<label class="form-check-label" for="file-type-image">Images</label>
			</div>
			<div class="form-group">
				<label for="backup-folder">Backup folder</label> 
				<input th:field="*{backupFolder}" type="text" class="form-control" id="backup-folder" placeholder="provide the backup folder location"> 
			</div>
			<button type="submit" class="btn btn-primary">Review</button>
		</form>
		
		<div class="row">
			<div th:each="task : ${tasks}" class="col-md-1">
				<img th:src="@{'/thumbnails/' + ${task}}" class="img-responsive preview" />
			</div>
		</div>
<!-- 		
		<div class="starter-template">
			<ol>
				<li th:each="task : ${tasks}">
					<img th:src="@{'/thumbnails/' + ${task}}" class="img-responsive" />
				</li>
			</ol>
		</div>
 -->
	</div>
	<!-- /.container -->

	<script type="text/javascript"
		th:src="@{webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>
</body>
</html>